<!DOCTYPE html>
<html ng-app="minmax">
  <head>
    <style>
       #map {
        height: 600px;
        width: 80%;
       }
       .hohoho{
        position: absolute;
        visibility: hidden;
       }
    </style>
  </head>
  <script type="text/javascript" src="libs/angular/angular.js"></script>
  <div id="header">
		<input type="radio" value="mortal" checked> Mortal
		<input type="radio" value="government"> Government
	</div>
  <body ng-controller="map">
  <p class="hohoho" ng-repeat="place in places" visibility="hidden">{{place.lat}}</p>
    <ul class="hohoho" ng-repeat="place in places">
  <li ng-repeat="(key, val) in place">
    {{key}}: <span id="1{{key}}" >{{val.lat}} </span><span id="2{{key}}">{{val.ling}}</span><span id="3{{key}}">{{val.wat}}</span>
  </li>
</ul>

    <h3>My Google Maps Demo</h3>
    <div id="map" ></div>
    <script>
      function initMap() {
        var uluru = {lat: 59.4370, lng: 24.7536};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        console.log();

var q;
var markers = [];

        for(q=0;q<5;q++){
          var d=30+q;
          var k=10+q;
          var w=20+q;
          var e=k.toString();
          var a=w.toString();
          var b=d.toString();
          console.log(document.getElementById(b).innerHTML);
          if(document.getElementById(b).innerHTML=="1"){
            console.log(document.getElementById(b).innerHTML);
                  uluru = {lat: parseFloat(document.getElementById(e).innerHTML), lng: parseFloat(document.getElementById(a).innerHTML)};
console.log(uluru);
      markers[q] = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }}
      }
var app = angular.module('minmax', []);

app.controller('map', function ($scope,ContactService) {
  
console.log("andro");
$scope.places=ContactService;
console.log($scope.places[1]);
});


app.service('ContactService', function () {

  return {
    "places": [
    {
      "lat":59.4370, 
      "ling":24.7536,
      "wat":1
    },
    {
      "lat":59.4370, 
      "ling":24.7536,
      "wat":1
    },    {
      "lat":59.4369, 
      "ling":24.7536,
      "wat":1
    },    {
      "lat":59.4366, 
      "ling":24.7536,
      "wat":1
    },    {
      "lat":59.4367, 
      "ling":24.7536,
      "wat":1
    },    
]
}
});

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCah47EsmsSk7KX9D_7xlV03MRT6PVxatk&callback=initMap">
    </script>
  </body>
</html>